name: Update repo list 
on: 
  workflow_dispatch:

jobs:
  create-and-commit-file:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      
    - name: Fetch Repositories and Create Markdown List
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config --global user.name 'xxradar'
        git config --global user.email 'xxradar@radarhack.com'
        # Set the starting page number
        page=1

        # Initialize an empty array to store the repository names
        repos=()

        # Loop through all pages of results until we reach an empty page
        while true; do
          # Send a GET request to the Github API to fetch the list of repositories for the current page
          response=$(curl -s -H "Authorization: token $GITHUB_TOKEN" -H "Accept: application/vnd.github+json" "https://api.github.com/user/repos?per_page=100&page=$page&type=owner")
          echo $response
          # If the response is an empty array, we have reached the end of the results
          if [ "$(echo "$response" | jq '. | length')" -eq 0 ]; then
            break
          fi

          # Parse the JSON response and extract the names of the repositories
          page_repos=$(echo "$response" | jq -r '.[].full_name')

          # Add the repository names to the list of all repositories
          repos+=($page_repos)

          # Increment the page number
          page=$((page + 1))
        done

        # Create or clear the file
        > repo_list.md

        # Add repository list to the file
        for i in "${repos[@]}"
        do
          echo "- [${i}](https://github.com/${i})" >> repo_list.md
        done

        # Check if there are changes
        if ! git diff --quiet; then
          git add repo_list.md
          git commit -m "Update repository list"
          git push
        else
          echo "No changes in repository list"
        fi
